[data-md-color-scheme="daw-style"] {
    --md-primary-fg-color:        #FFE4E9;
    --md-primary-fg-color--light: #FFE4E9;
    --md-primary-fg-color--dark:  #FFE4E9;
}

body > header > nav.md-header__inner.md-grid > a{

}

body > header > nav.md-header__inner.md-grid > a > img{

}
