@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.md-header--shadow{
    box-shadow: 0;
}
[data-md-color-scheme="daw-style"] {
    --md-primary-fg-color:        #e93456;
    --md-primary-fg-color--light: #e93456;
    --md-primary-fg-color--dark:  #e93456;
}

body > header > nav.md-header__inner.md-grid > a{

}

body > header > nav.md-header__inner.md-grid > a > img{

}
